@import './DonateQrcode/DonateQrcode'
@import './DonateInfo/DonateInfo'
@import './DonatePayment/DonatePayment'
@import './DonateThank/DonateThank'

.fund-donate__items
  display: grid
  grid-template-columns: repeat(3, 4fr)
  grid-template-areas: "a b b" "c c d"
  gap: 40px
  @include media-breakpoint-down(lg)
    gap: 20px
  @include media-breakpoint-down(md)
    grid-template-columns: 1fr
    grid-template-areas: none

.donate-item
  background: $brown
  padding: 60px
  @media screen and ( max-width: $page-wrapper )
    padding: calc( 20px + (60 - 20) * ((100vw - 320px) / (1440 - 320))) 
  @include media-breakpoint-down(lg)
    padding: 30px
  @include media-breakpoint-down(md)
    grid-area: auto
  &.donate-thank__wrapper
    background: transparent
    padding: 0
