@import './FooterBottom/FooterBottom'
@import './FooterContent/FooterContent'

.footer
  background: $brown
  padding-top: 90px 
  @media screen and ( max-width: $page-wrapper )
    padding-top: calc( 45px + (90 - 45) * ((100vw - 320px) / (1440 - 320))) 0